{
  "browser": "chromium",
  "extraBrowserFlags": "",
  "serverPort": 8766,

  "cmsUrl": "",
  "cmsKey": "",
  "displayName": "",

  "controls": {
    "keyboard": {
      "debugOverlays": false,
      "setupKey": false,
      "playbackControl": false,
      "videoControls": false
    },
    "mouse": {
      "statusBarOnHover": false
    }
  }
}
